* {  /* Configurações padrão */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth;  /* Rolagem de página suave */
    overflow-x: hidden;
}

#tsuru {
    z-index: -1; /* Fica na camada mais atrás de todas */
    background-image: url('fotos/pattern_tsuru.jpg');
    background-size: cover;
    background-position: left top;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    opacity: 20%;
}

body {   /* Background, fonte, cor da letra */
    min-height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: rgb(170, 170, 170);
    overflow-x: hidden;
}

header {  /* Cabeçalho */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-color: black;
    z-index: 1000;
    padding: 0px 50px;
    transition: all 1s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h1 a img#logo {  /* Logo */
        width: 200px;
        height: 80px;
        border-radius: 25px;
    }
    
    nav {
        display: flex;
        gap: 10px;
        
        ul {
            list-style: none;
            display: flex;
            gap: 10px;
            
            li {
                display: inline-block;
                padding: 5px;
                
                a {
                    text-decoration: none;
                    color: gray;
                    transition: color 1s, text-shadow 1s;
                    font-size: 1.2em;
                }
            }
        }
    }
} /* Fazer menu hambúrguer para telas menores ✅ */

header.shrink {  /* Configuração do cabeçalho quando diminui */
    font-size: 0.9em;
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.3);
}

nav ul li:hover {  /* Aumento da fonte quando hover */
    transform: scale(1.05);
    transition: 1s;
}

nav ul li:hover a {  /* Brilho da letra quando hover */
    color: white;
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5);
}

.menu-toggle {  /* Menu hambúrguer, atualmente escondido */
    font-size: 1.5em;
    background: none;
    border: none;
    color: rgb(170, 170, 170);
    display: none;
    cursor: pointer;
}

.container {  /* Responsável por deixar a página mais centralizada e com laterais vazias */
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px; 
}

main {  /* Parte principal do site, logo abaixo do cabeçalho */
    text-align: justify;
    line-height: 1.6;
    
    section#img_topo{  /* Imagem central, grande */
        text-align: center;
        img {
            width: 100%;
        }
    }
    
    section.corpo {  /* Parágrafo e texto juntos */
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 180px 20px;
        flex-wrap: wrap;
        
        p{
            flex: 1 1 50%;
            text-align: left;
        }
        img {
            flex: 1 1 5%;
            max-width: 100%;
            height: auto;
            border-radius: 20px;
        }
    }
    
    section#insta {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        gap: 5px;
        justify-content: space-between;
        
        img {
            flex: 1 1 45%;
            width: 100%;
            height: 500px;
        }
    }
}

hr {  /* Linha horizontal */
        border: none;
        height: 1px;
        width: 85vw;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: gray;
    }
    
    footer {  /* Rodapé */
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        max-width: 1200px;
        padding: 20px;
        gap: 20px;
        
        article {  /* Tornar responsivo e espaçamento automático */
        flex: 1 1 22%;
        min-width: 200px;
        height: 200px;
        padding: 20px;
        
        a {
            text-decoration: none;
            color: rgb(170, 170, 170);
        }
    }
}

footer article a:hover {
    transition: 1s;
    color: white;
    text-shadow: 3px 3px 10px rgba(128, 128, 128, 0.5);
}

@media (max-width: 768px) {   /* Responsividade para telas menores (cabeçalho) */
    .menu-toggle {  /* Surgimento do menu hambúrguer */
        display: block;
    }
    
    .menu {  /* Apresentação do menu hambúrguer */
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 1s ease, opacity 1s ease;
        flex-direction: column;
        width: 100%;
        background-color: #111;
        position: absolute;
        top: 85px;
        left: 0;
        text-align: center;
    }
    
    .menu.open {  /* Abertura do menu (aparecimento) */
        max-height: 500px;
        opacity: 1;
    }
    
    .menu ul {  /* Lista do menu */
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    
    .menu ul li {  /* Itens da lista */
        padding: 10px;
    }

    img#sushi {
        padding-top: 250px;
    }

}

.scroll-anim {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.5s ease;
}

.scroll-anim.from-left {
    transform: translateX(-50px);
}

.scroll-anim.from-right {
    transform: translateX(50px);
}

.scroll-anim.in-view {
    opacity: 1;
    transform: translateX(0) translateY(0);
}
